* {
    padding: 0;
    margin: 1.5px;
}

html {
    font-family: arial;
}
.header {
    text-decoration: underline overline;
    font-size: 1.5em;
    text-align: center; 
}

.ch_name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8em;
    margin: 0px;
    padding: 0px;
}

.ch_name li {
    color: red;
}

.ch-name__int a {
    color: black
}

.ch-name__int a:hover {
    color: blue
}

#tbl_test {
    border: 1px solid black
}

#header_list {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: none;
    text-align: center;
    color: red  
}

.header-list__item {
    display: inline-block;
}

.header-list__item a {
    color: black;
    padding: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.header-list__item a::after {
    content: " | ";
}

.header-list__item a::before {
    content: " | "
}

.header-list__item a:hover {
    color: blue
}

.header-list__item a:active {
    color: red
}

.txt {
    margin-top: 200px;
}

.txt_1 {
    color: red;
}

#ch_img_1 {
    text-align: center;
}

.header_main {
    text-align: center;
}

.box_test {
    width: 100%
    height: 100px;
    border: 10px solid blue;
    padding: 20px 30px;
}

.test-text {
    padding: 0px;
    margin-left: 0px;
    margin-top: 0px;
    color: blue;
    font-family: monospace;
}
.test-text {
    row
}